

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adminx-content">
    <div class="adminx-main-content">
        <div class="container-fluid">
            @using (Html.BeginForm())

            {




                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Create Player</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="table table-bordered">



                                                    <tr>
                                                        <td>
                                                            Firstname:
                                                        </td>
                                                        <td>

                                                            <input id="firstname" type="text" name="firstname" class="form-control" style="width: 400px;" maxlength="25" />
                                                        </td>

                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            Lastname:
                                                        </td>
                                                        <td>

                                                            <input id="lastname" type="text" name="lastname" class="form-control" style="width: 400px;" maxlength="25" />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Jersey No:
                                                        </td>
                                                        <td>
                                                             
                                                            <input id="jersey_no" type="number" value="0" name="jersey_no" class="form-control" style="width: 400px;" />
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Team:
                                                        </td>
                                                        <td>

                                                            @Html.DropDownList("team_id", ViewBag.Team as SelectList, new { @class = "btn btn-info dropdown-toggle" })
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Manager:
                                                        </td>
                                                        <td>

                                                            @Html.DropDownList("manager_id", ViewBag.Manager as SelectList, new { @class = "btn btn-info dropdown-toggle" })
                                                        </td>

                                                    </tr>
                      




                                                </table>


                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </td>
                        </tr>

                    </tbody>
                    <tr>
                        <td>

                            <input type="button" id="btnSubmit" name="btnSubmit" value="Submit" class="btn btn-secondary float-right" />
                        </td>
                    </tr>



                </table>


                @Html.ActionLink("Back to List", "Index")

            }
        </div>
    </div>
</div>








<script type="text/javascript">

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            var player = {}
            player.firstname = $("#firstname").val().trim();
            player.lastname = $("#lastname").val().trim();
            player.team_id = $("#team_id").val().trim();
            player.manager_id = $("#manager_id").val().trim();
            player.jersey_no = $("#jersey_no").val().trim();
            if (player.firstname == "" && player.lastname == "") {
                if (!$("#invalid").length) {
                    $('#firstname').before('<span class="form-label is-invalid" id="invalid" name="invalid" >Please enter a firstname</span>');
                }
                if (!$("#invalid1").length) {
                    $('#lastname').before('<span class="form-label is-invalid" id="invalid1" name="invalid1" >Please enter a lastname</span>');
                }
                $("#firstname").attr('class', 'form-control is-invalid');
                $("#lastname").attr('class', 'form-control is-invalid');
            }
            else if (player.firstname == "") {
                if (!$("#invalid").length) {
                    $('#firstname').before('<span class="form-label is-invalid" id="invalid" name="invalid" >Please enter a firstname</span>');
                }
                $("#invalid1").remove();
                $("#lastname").attr('class', 'form-control');
                $("#firstname").attr('class', 'form-control is-invalid');
            }
            else if (player.lastname == "") {
                if (!$("#invalid1").length) {
                    $('#lastname').before('<span class="form-label is-invalid" id="invalid1" name="invalid1" >Please enter a lastname</span>');
                }
                $("#invalid").remove();
                $("#firstname").attr('class', 'form-control');
                $("#lastname").attr('class', 'form-control is-invalid');
            }

            else {

                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "/Player/Create", // Controller/View
                        data: '{player: ' + JSON.stringify(player) + '}',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.success == true) {

                                //     $("span").addAttr("hidden");
                                $("#invalid").remove();
                                $("#invalid1").remove();
                                //    $("#name").addClass("form-control");
                                $("#firstname").attr('class', 'form-control');
                                $("#lastname").attr('class', 'form-control');
                                $('#firstname').val("");
                                $('#lastname').val("");
                                $('#jersey_no').val("");
                                alert('' + data.message + '');
                            }

                            else {
                                alert('' + data.message + '');
     
           

                            }
                        }


                    })
            }
        })
    });


</script>

